* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 100%;
}
h1 {
  font-family: lavigne-display, sans-serif;
  font-size: 3em;
  color: white;
}
ul {
  font-size: 1em;
}
h2 {
  font-family: lavigne-display, sans-serif;
  font-size: 1.5em;
}
h3 {
   font family: lavigne-display, sans-serif;
   font-size: 1em;
