* {
  margin: 0;
  padding: 5;
  box-sizing: border-box;
}
html {
  font-size: 20px;
}
body {
  font-family: 'DM Sans', sans-serif;
  font-size: 100%;
  color: white;
  background-color: tomato;
}

header {
  width: 75vw;
  margin: 25px auto;
  background-color: tomato;
}

main {
  width: 75vw;
  margin: 25px auto;
  background-color: tomato;
  display: flow-root;
}

.col {
 width: 50%;
 background-color: tomato;
 float: left;
}

h1 {
  font-family: 'DM Sans', sans-serif;
  font-size: 5em;
  color: white;
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 2em;
}
h3 {
   font family: lavigne-display, sans-serif;
   font-size: 1em;
 }
 @media screen and (max-width: 1200px) {
   .col {
     width: 100%;
     margin-bottom: 50px;
     background-color: lightblue;
  }
    h1 {
     font-size: 3em;
  }
    body {
      background-color: lightblue;
  }
    header {
      background-color: lightblue;
  }
    main {
      background-color: lightblue;
  }
}
 @media screen and (max-width: 725px) {
   h1 {
    font-size: 2em;
 }
}
