* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: lightgrey;
}
.board {
  width: 800px;
  margin: calc((100vh - 800px) / 2) auto;
}
.red {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
}
.black {
  width: 100px;
  height: 100px;
  background-color: white;
  float: left;
}
