*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
header {
  background-color: DodgerBlue;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  padding: 25px 100px;
}
header * {
  display: inline;
}
footer {
  background-color: DodgerBlue;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  padding: 25px 100px;
}
h1 {
  color: white;
  font-family: 'lavigne-display', sans-serif;
  font-size: 1.5em;
  padding-left: 30px;
}
h2 {
  text-align: left;
  color: tomato;
  font-family: 'lavigne-display', sans-serif;
  font-size: 6em;
  padding-left: 30px;
}
h3 {
  text-align: center;
  text-align: left;
  color: black;
  font-family: 'lavigne-display', sans-serif;
  font-size: 2em;
  padding-left: 30px;
}
h4 {
  text-align: center;
  text-align: left;
  color: black;
  font-family: 'lavigne-display', sans-serif;
  font-size: 2em;
  padding-left: 30px;
}
p {
  text-align: left;
  color: black;
  font-family: 'lavigne-display', sans-serif;
  padding-right: 600px;
  Padding-left: 30px;
}
li {
  display: inline;
}
img {
  width: 30%;
  max-width: 30%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
  p {
    padding-right: 100px;
    Padding-left: 30px;
  }
  header {
    padding: 25px 50px;
  }
  h2 {
    font-size: 3em;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 1em;
  }
}
