*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: lightgrey;
}
header {
  background-color: tomato;
  height: 65px;
  display: flex;
  align-items: center;
  color: white;
}
footer{
  padding: 20px 100px;
  background-color: grey;
}
li{
  float: left;
  text-decoration: none;
}
li a{
  display: block;
  padding: 15px;
  text-decoration: none;
}
ol{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-decoration: none;
}
h1{
  font-family: 'lavigne-display', sans-serif;
  font-size: 1.5em;
  color: white;
  padding-left: 30px;
}
h1 a {
  text-decoration: none;
}
h2{
  font-family: 'lavigne-display', sans-serif;
  text-align: center;
  font-size: 2em;
  padding-left: 30px;
  margin-top: 80px;
  margin-bottom: 30px;
}
h3{
  font-family: 'DM Sans', sans-serif;
  text-align: center;
  font-size: 1.2em;
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
h4{
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2em;
  padding-left: 30px;
  margin-top: 30px;
  margin-bottom: 1px;
}
p{
  font-family: "DM Sans";
  padding-left: 30px;
  margin-top: 5px;
  margin-bottom: 15px;
}
nav{
  width: 50%;
  height: 40px;
  font-family: 'DM Sans', sans-serif;
  font-size: 1em;
  color: white;
  background-color: tomato;
  float: right;
}
a:link{
  color: white;
}
a:visited{
  color: white;
  text-decoration: none;
}
/* mouse over link */
a:hover{
  color: blue;
}
/* selected link */
a:active{
  color: black;
}
.header{
  width: 50%;
  height: 5vw;
  background-color: tomato;
  float: left;
}
.headImage{
  width: 100%;
  height: 100%;
  float: left;
}
img{
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}
.text{
  display: block;
  width: 50%;
  height: 50vw;
  background-color: lightgrey;
  overflow: visible;
  float: left;
}
.texthome{
  display: block;
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  overflow: visible;
  float: left;
  padding-left: 150px;
  padding-right: 150px;
}
.textbackground{
  display: block;
  width: 50%;
  background-color: white;
  overflow: visible;
  float: left;
  padding-left: 30px;
  Padding-right: 60px;
}
.image{
  display: block;
  width: 50%;
  height: 20vw;
  background-color: lightgrey;
  float: right;
  padding-top: 80px;
}
.imagerow{
  width: 100%;
  height: 100%;
  background-color: lightgrey;
  clear: both;
  display: table;
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
/* footer{
  float: left;
} */


footer {
  background-color: grey;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
}
.padding {
  padding: 18px;
}
 @media screen and (max-width: 1380px) {
   header {
       padding: 25px 5px;
   }
   footer {
     padding: 25px 50px;
  }
  header li a {
    padding-right:10px
  }
}
 @media screen and (max-width: 630px) {
   header li a {
     font-size: 1em;
 }
  .textbackground{
   width: 100%;
 }
   .texthome{
     padding-left: 50px;
     padding-right: 50px;
 }
  .column{
    width: 100%;
 }
}
 @media screen and (max-width: 400px) {
   h1 {
     font-size: 1em;
  }
  header li a {
    font-size: .7em;
  }
  .texthome{
    padding-left: 30px;
    padding-right: 30px
  }
  .column{
    width: 100%;
  }
}
