*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: lightgrey;
}
header {
  background-color: tomato;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
}
header * {
  display: inline;
}
header li {
  margin: auto;
}
header li a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: .7em;
}
/* mouse over link */
a:hover {
  color: blue;
}
/* selected link */
a:active {
  color: black;
}
footer {
  background-color: grey;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
}
h1 {
  color: white;
  font-family: 'lavigne-display', sans-serif;
  font-size: 1.5em;
  padding-left: 30px;
}
h2 {
  text-align: center;
  color: black;
  font-family: 'lavigne-display', sans-serif;
  font-size: 2em;
  padding-left: 30px;
  margin-top: 50px;
  margin-bottom: 25px;
}
h3 {
  text-align: center;
  padding-left: 30px;
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
}
h4 {
  text-align: center;
  padding-left: 30px;
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
}
p {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1em;
  margin-top: 5px;
  margin-bottom: 15px
}
li {
  display: inline;
}
img {
  width: 100%;
  max-width: 100%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 @media screen and (max-width: 1380px) {
   header {
       padding: 25px 5px;
   }
   footer {
     padding: 25px 50px;
  }
  header li a {
    padding-right:10px
  }
}
 @media screen and (max-width: 630px) {
   header li a {
     padding-right:3px
   }
 }
 @media screen and (max-width: 400px) {
   h1 {
     font-size: 1em;
  }
  header li a {
    margin:auto;
  }
  footer {
    font-size: .5em
}
